<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="{{ STATIC_URL }}css/kube.min.css" />
        <script src="{{ STATIC_URL }}js/jquery-1.8.2.min.js"></script>
        <style type="text/css">
        .block-h {height: 60px}
        .red {background-color: red;}
        .green {background-color: green;}
        .black {background-color: black;}
        .blue {background-color: blue;}

        .navigator {
            padding: 12px 15px;
            border-bottom: solid 1px grey;
            margin-bottom: 10px;
        }
        .nav-left {
            padding: 0 10px;
            }
        .nav-left li {
            }
        </style>
        {% block extra %}
        {% endblock %}
    </head>
    <body style="background-image: url('{{ STATIC_URL }}img/toprowbg.gif');">
        <div class="wrap width-70 centered">
            <div class="logo"></div>
            <div class="group navigator">
                <nav class="navbar navbar-left end">
                <ul>
                    <li><a href="/">首页</a></li>
                    <li><a href="{% url 'errors' %}">错题集</a></li>
                    <input id="update" type="button" value="更新"/>
                </ul>
                </nav>
                <nav class="navbar navbar-right end">
                <ul>
                    {% if user.username %}
                    <li>{{ user.username }}</li>
                    <li><a href="{% url 'logout'  %}">退出</a></li>
                    {% else %}
                    <li><a href="{% url 'login'  %}">登陆</a></li>
                    <li><a href="{% url 'signup'  %}">注册</a></li>
                    {% endif %}
                    <!--<li class="active"><a href="#">logout</a></li>-->
                </ul>
                </nav>
            </div>
            <div class="units-row">
                <div class="unit-20 nav-left">
                    <nav class="nav nav-stats nav-stacked text-centered">
                {% block left_sidebar %}
                {% endblock %}
                    </nav>
                </div>
                <div class="unit-60">
                    {% block content %}
                    <ul class="blocks-6 text-centered">
                        <li>dsf</li>
                        <li>sdf</li>
                        <li>dsafj</li>
                        <li>fsdf</li>
                        <li>dsaf</li>
                        <li>sdf</li>
                        <li>fdsaf</li>
                        <li>fsdaf</li>
                    </ul>
                    {% endblock %}
                </div>
                <div class="unit-20 "></div>
            </div>
            <div class="units-row footer">
                <div class="unit-100 red"></div>
                <script>
                    $('#update').click(function(ev) {$.get(
                        '{% url "update_quests" %}',
                        function(data) {
                            if (data.success) {
                                ev.target.value = "更新成功";
                                } else {
                                ev.target.value = "更新失败";
                            }
                            console.log(data);
                        }
                        )}
                    )
                </script>
                {% block user_js %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
