{% extends "base.html" %}
{% block extra %}
<script src="{{ STATIC_URL }}js/jPages.min.js"></script>
<style>
    .days { 
        background: rgb(245, 245, 220);
        padding: 10px 0px;
        border-bottom: solid 5px rgb(222, 184, 135);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .days:hover{
        background: rgb(223, 223, 199);
        }
    .disable{
        background: rgb(223, 223, 199);
        }
 .holder {
    margin:15px 0;
    text-align: center;
}
.holder a {
    font-size:12px;
    cursor:pointer;
    margin:0 5px;
    color:#333;
}
.holder a:hover {
    background-color:#222;
    color:#fff;
}
.holder a.jp-previous {
    margin-right:15px;
}
.holder a.jp-next {
    margin-left:15px;
}
.holder a.jp-current,a.jp-current:hover {
    color:#FF4242;
    font-weight:bold;
}
.holder a.jp-disabled,a.jp-disabled:hover {
    color:#bbb;
}
.holder a.jp-current,a.jp-current:hover,.holder a.jp-disabled,a.jp-disabled:hover {
    cursor:default;
    background:none;
}
.holder span {
    margin: 0 5px;
}
</style>
{% endblock %}

{% block content %}
<ul id="container" class=" blocks-5 text-centered">
    {% for group in groups %}
    <li class="days"><a href="{% url 'single_quest' uid=group|date:'Y_m_d' %}">{{ group|date:"Y-m-d" }}</a></li>
    {% endfor %}
</ul>
<div class="holder"></div>
{% endblock %}
{% block user_js %}
<script>
    $('.holder').jPages({
        containerID: 'container',
        animation: false,
        delay: 0,
        direction: 0,
        perPage     : 35,
        first       : "首页",
        previous    : "上一页",
        next        : "下一页",
        last        : "末页"
    })
</script>
{% endblock %}
